SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=
REDIS_URL=
AI_API_KEY=
AI_MODEL=
EMAIL_API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_ENDPOINT_URL=
AWS_S3_REGION_NAME=us-east-1
GA4_MEASUREMENT_ID=
GTM_CONTAINER_ID=
META_PIXEL_ID=
